@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@-webkit-keyframes bounce{
  0%, 20%, 50%, 80%, 100%{
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0);
  }
  40%{
    -webkit-transform:translateY(-20px);
    -moz-transform:translateY(-20px);
    -ms-transform:translateY(-20px);
    transform:translateY(-20px);
  }
  60%{
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    transform:translateY(-10px);
  }
}
@-moz-keyframes bounce{
  0%, 20%, 50%, 80%, 100%{
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0);
  }
  40%{
    -webkit-transform:translateY(-20px);
    -moz-transform:translateY(-20px);
    -ms-transform:translateY(-20px);
    transform:translateY(-20px);
  }
  60%{
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    transform:translateY(-10px);
  }
}
@-ms-keyframes bounce{
  0%, 20%, 50%, 80%, 100%{
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0);
  }
  40%{
    -webkit-transform:translateY(-20px);
    -moz-transform:translateY(-20px);
    -ms-transform:translateY(-20px);
    transform:translateY(-20px);
  }
  60%{
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    transform:translateY(-10px);
  }
}
@keyframes bounce{
  0%, 20%, 50%, 80%, 100%{
    -webkit-transform:translateY(0);
    -moz-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0);
  }
  40%{
    -webkit-transform:translateY(-20px);
    -moz-transform:translateY(-20px);
    -ms-transform:translateY(-20px);
    transform:translateY(-20px);
  }
  60%{
    -webkit-transform:translateY(-10px);
    -moz-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    transform:translateY(-10px);
  }
}
html,body{
  min-height:100%;
  max-width:100%;
  height:100%;
  -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
  box-sizing:border-box
}
*,::before,::after{
  -webkit-box-sizing:inherit;
  -moz-box-sizing:inherit;
  box-sizing:inherit
}
body{
  font-family:'Open Sans',sans-serif;
  height:100%;
  position:relative;
}
.logo{
  max-width:150px;
  float:left;
  margin:20px 5% 20px 0;
  position:relative;
  z-index:4;
}
header{
    position:fixed;
    z-index:9;
    width:100%;
    padding:0 10%;
    margin:auto;
    background:rgba(0,0,0,.2);
}
nav{text-align:right;margin:20px auto;}
nav a{
  text-decoration:none;
  margin-left:5%;
  font-size:14px;
  list-style:none;
  position:relative;
  color:#fff;
  font-weight:400;
  letter-spacing:2px;
  display:inline-block;
}
main{
  height:100%;
}
/*
section:not(.over){
    padding:2% 10%;
}

section.wittekader{
    padding:2% 10%;
    width:80%;
}*/
/*ONELINER*/
.over{position:relative;height:100%}
#oneliner{
  font-size:25px;
  color:#fff;
  top:40%;
  text-align:right;
  font-weight:400;
  letter-spacing:1px;
  z-index:10;
  width:25%;
  position:absolute;
  right:9%;
}
/*FOTO*/
#start{
  background:url(../images/bg.jpg) no-repeat top center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  min-width:100%;
  min-height:100%;
  display:block;
  position:relative;
  height:100%;
}
/*Pijltje*/
.arrow{
  position:absolute;
  bottom:0;
  left:50%;
  margin:auto;
  width:30px;
  height:60px;
  background-image:url('../images/arrow_white.png');
  background-size:contain;
  background-repeat:no-repeat;
  z-index:999;
}
.bounce{
  -webkit-animation:bounce 2s infinite;
-moz-animation:bounce 2s infinite;
-ms-animation:bounce 2s infinite;
animation:bounce 2s infinite;
}
/*TEKST*/
h1{
  font-family:'Open Sans', sans-serif;
  font-size:20px;
  text-align:right;
  width:20%;
}
h2{
  font-family:'Open Sans', sans-serif;
  font-size:25px;
  font-weight:700;
  text-align:center;
}
h3{
  font-family:'Open Sans', sans-serif;
  font-size:18px;
  font-weight:400;
  text-align:center;
  color:#979797;
  margin-top:1em;
}
h4{
  font-family:'Open Sans', sans-serif;
  font-size:14px;
  font-weight:400;
  text-align:left;
  color:#000;
}
h5{
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  font-weight:400;
  text-align:left;
  color:#979797;
  margin-top:.5em;
}
h6{
  font-size:25pt;
  color:#389c36;
  font-weight:700;
  text-align:center;
}
/*SPECIALE TEKST*/
.col-md-3 h3{
margin-top:-5px;
}
.col-xs-2 h4{
  text-align: center;
  margin-top: 55px;
}
.wittekader h2{
  text-align:left;
  margin-top:50px;
  margin-bottom:30px;
}
/*ICONS*/
.icon{
  max-width:60px;
  float:left;
  margin-right:20px;
}
.col-md-4{
  margin-top:50px;
  float:left;
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
}
.over, .wat, .calltoaction, .referenties, .meer, .cijfers, .contact{
  margin-bottom:69px;
}
.groen{
  color:#389c36;
}
.calltoaction{
  background-color:#f0f0f0;
  padding:20px;
  text-align:center
}
.calltoactiontekst{
  margin-bottom:30px;
  font-size:2.2rem;
}
.calltoactionbutton{
  color:#eee;
  background-color:#389c36;
  width:170px;
  height:50px;
  text-align:center;
  cursor:pointer;
  padding:1em;
  transition:all .3s ease;
  outline:0;
}

.calltoactionbutton:hover{
  color:#fff;
  background-color:#4fb84c;
}
.calltoactionbutton a{
  text-decoration:none;
  font-family:'Open Sans', sans-serif;
  font-size:15px;
  font-weight:400;
  text-align:center;
  color:#fff;
}
.meerreferenties{margin-top:69px;}
/*-------REFERENTIES----------*/
.referenties{
  margin:0 auto;
  text-align:center;
  display:block;
  width:100%;
}
.wrapper {
  width: 100%;
  margin: 10px auto;
}
.main-iso {
  width: 100%;
  float: left;
  display: inline-block;
}

.active {
  background: #5274a9;
  color: #fff;
}

.item {
  float: left;
  width: 12.5%;
}

.item img {
  display: block;
  width: 100%;
}
/*Show description on hover*/
.imgWrap {
  position: relative;
  display: block;
}
.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0);
    color: transparent;
    visibility: hidden;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all .3s ease;
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
    background: rgba(0,0,0,0.5);
    color: #fff;
}
/*MEDIA QUERIES IMAGES*/
@media only screen and (min-width: 1400px) {
  .grid-sizer {width:20%;}
  .item {width: 20%;}
}
@media only screen and (max-width: 1400px) {
  .grid-sizer {width:50%;}
  .item {width: 50%;}
}
@media only screen and (max-width: 1200px) {
  .grid-sizer {width:60%;}
  .item {width: 60%;}
}
@media only screen and (max-width: 1000px) {
  .grid-sizer {width:70%;}
  .item {width: 70%;}
}
@media only screen and (max-width: 800px) {
  .grid-sizer {width:80%;}
  .item {width: 80%;}
}
@media only screen and (max-width: 600px) {
  .grid-sizer {width:100%;}
  .item {width: 100%;}
}
/*BUTTON*/
.meer{
  text-align:center;
  margin:0 auto;
  display:block;
  background-color:#389c36;
  margin-top:69px;
  margin-bottom:69px;
  width:170px;
  height:50px;
  border:none;
}
.meer h3{
  color:#fff;
}
/*CIJFERS*/
.cijfers{
  background-color:#f0f0f0;
  padding:15px;
  margin-bottom:69px;
}
/*CONTACT*/
.groenekader{
  background-color:#389c36;
  height:200px;
  display:inline-block;
  width:100%;
}
.grijzekader{
  background-color:#f0f0f0;
  margin-top: 37px;
  height:auto;
  display:inline-block;
  width:100%;
  padding-bottom: 80px;
}
/*.crossmarkpijltje img{
  height:25px;
};*/
.wittekader{
  display:block;
  background-color:#fff;
  min-height:250px;
  height:auto;
  padding:0 20px;
  width:80%;
  margin:0 auto;
  text-align: center;
  margin-top: -14em;
    position: relative;
}
.wittekader:before{
  content: "";
  background-image: url(../images/witpijltje.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 31px;
  height: 25px;
  display: block;
  margin-top: 35px;
  position: relative;
  bottom: 13px;
}
.contact h3{
  width:40%;
  margin:0 auto;
}
.contacticon{
  max-width:30px;
  position:absolute;
  margin-left:4em;
  margin-right:20px;
}
.infoteam h2{
  text-align:center;
}
.infoteam{
    display: inline-block;
}
.teambox{display:none}

.infoteam{margin:0 auto;}
.meettheteamplus{
  text-align: center;
  margin: 0 auto;
  /* display: block; */
  background-color: #389c36;
  margin-top: 69px;
  /* margin-bottom: 69px; */
  width: 170px;
  height: 50px;
  border: none;
}
.meettheteamplus h3{color:#fff;
width:100%}
.meettheteammin{
  text-align:center;
  margin:0 auto;
  display:block;
  background-color:#389c36;
  margin-top:69px;
  margin-bottom:69px;
  width:170px;
  height:50px;
  border:none;
}
.meettheteammin h3{
  color:#fff;
  width:100%;
}
.team{
  width:70%;
  margin:0 auto;
  display:block;
}
.teamlid{
  max-width: 150px;
  margin-top:20px;
  margin: 0 auto;
  padding:.2em;
}
img.teamlid{
  margin-top:20px;
}
.teambox h4{
  margin-top: 10px;
}
/*FOOTER*/
footer{
  background-image:url(../images/lines-bg.jpg);
  background-repeat:repeat;
  height:80px;
  padding:30px 10% 0;
}
.links{
  float:left;
  text-align:left;
  width:50%;
}
.rechts{
  float:right;
  text-align:right;
  width:50%;
}
/*---------REFERENTIESPAGINA--------*/
.headerimg{
  background-image:url("../images/construxheader.jpg");
  height:300px;
  background-size:cover;
}

/*REFERENTIES TEKST*/
.referentiesinfo{margin-top:2em;}
.referentiestitel{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
  }
.referentiesbeschrijving{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #979797;
  }
  .referentiesondertitel{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color:#000;
  }
  .referentiestekst{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #979797;
  }
  .kader{
    width:400px;
    border:1px solid #c5c5c5;
    border-bottom:2px solid #389c36;
    float: right;
  }
  .h3case{
    display: inline;
    padding: 1em;
  }
/*---------OFFERTEPAGINA--------*/
.verplicht{
  position: absolute;
  top:0;
  right: 15px;
  color:#389c36;
}
input{
}
.tekstbeschrijvingform{
  text-align: left;
  float:left;
}
